.ml-split-container {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  display: -webkit-flex;

  .left-title-nav {
    position: relative;
    min-width: 200px;
    max-width: 1000px;
    height: 100%;
    padding: 10px 30px;
    transition: width 0.2s linear;
    resize: horizontal;

    .split-line {
      position: absolute;
      top: 0;
      right: 0;
      width: 2px;
      height: 100%;
      background-color: var(--ml-borderB-color);
      cursor: col-resize;
    }
  }

  .left_nav {
    cursor: pointer;
  }

  .left_active {
    color: #46bd87;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 5px;
      height: 100%;
      background-color: #46bd87;
      position: absolute;
      left: -30px;
    }
  }


  .dir_active {
    display: flex;
    font-weight: bold;
    // color: #46bd87;
    font-size: 16px !important;
    position: relative;
    transition: all .2s ease-in;
    align-items: center;

    &::before {
      content: "";
      display: block;
      width: 3px;
      height: 70%;
      border-radius: 5px;
      background-color: #46bd87;
      position: absolute;
      left: -12px;
    }
  }

  .second_active {
    font-weight: bold;
    color: #46bd87;
    font-size: 16px !important;
    position: relative;
    transition: all .2s ease-in;
  }

  .middle-content-container {
    width: calc(100% - var(--left-width) - 200px);
    height: 100%;
    padding: 50px 100px;
    overflow-y: scroll;
    box-sizing: border-box;




    // margin-right: 120px;
  }

  .right-container {
    overflow-y: scroll;
    min-width: 300px;
    max-width: 300px;
    height: 100%;
    padding: 60px 12px 12px 12px;
    border-left: 1px solid var(--ml-borderB-color);

    h4 {
      position: sticky;
      top: -30px;
    }

    div {
      display: flex;
      flex-direction: column;
      position: sticky;
      top: -20px;
    }

    &::-webkit-scrollbar {
      width: 0;
    }

    &::-ms-scrollbar {
      width: 0;
    }
  }
}